<div class="w-full text-white absolute top-5 justify-center z-10">
  <div class="flex items-center backdrop-blur-sm max-w-6xl justify-between mx-auto">
    <div class="logo">
      <img src="logo3.png" alt="Logo" class="h-15 w-15 ml-5"/>
      <span>Employee Management</span>
    </div>
    <section class="nav-9">
      <nav>
        <a class="item" href="#nav-9">
          <div data-text="Main page" class="linktext">Home</div>
        </a>
        <a class="item" href="#nav-9">
          <div data-text="What we do" class="linktext">About</div>
        </a>
      </nav>
    </section>
    <div class="mr-5">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded-4xl hover:scale-105 transition ease-in-out duration-300" (click)="signin()">
        Sign In
      </button>
    </div>
  </div>
</div>
