<div class="w-full px-2 text-white absolute top-5 justify-center z-10">
  <div class="flex items-center backdrop-blur-sm max-w-6xl justify-between mx-auto">
    <div class="logo">
      <img src="logo3.png" alt="Logo" class="h-10 md:h-15 w-10 md:w-15"/>
      <span>Employee Management</span>
    </div>
    <section class="nav-9 hidden md:block">
      <nav>
        <a class="item" routerLink="/home">
          <div data-text="Main page" class="linktext">Home</div>
        </a>
        <a class="item" routerLink="/about">
          <div data-text="What we do" class="linktext">About</div>
        </a>
      </nav>
    </section>
    <div class="mr-5 hidden md:block">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded-4xl hover:scale-105 transition ease-in-out duration-300" (click)="signin()">
        Sign In
      </button>
    </div>
    <div class="text-white text-3xl h-10 w-10 flex md:hidden cursor-pointer mr-3">
      <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M16.19 2H7.81C4.17 2 2 4.17 2 7.81V16.18C2 19.83 4.17 22 7.81 22H16.18C19.82 22 21.99 19.83 21.99 16.19V7.81C22 4.17 19.83 2 16.19 2ZM17 17.25H7C6.59 17.25 6.25 16.91 6.25 16.5C6.25 16.09 6.59 15.75 7 15.75H17C17.41 15.75 17.75 16.09 17.75 16.5C17.75 16.91 17.41 17.25 17 17.25ZM17 12.75H7C6.59 12.75 6.25 12.41 6.25 12C6.25 11.59 6.59 11.25 7 11.25H17C17.41 11.25 17.75 11.59 17.75 12C17.75 12.41 17.41 12.75 17 12.75ZM17 8.25H7C6.59 8.25 6.25 7.91 6.25 7.5C6.25 7.09 6.59 6.75 7 6.75H17C17.41 6.75 17.75 7.09 17.75 7.5C17.75 7.91 17.41 8.25 17 8.25Z" fill="#ffffff"></path> </g></svg>
    </div>
  </div>
</div>
