<div class="w-full text-white absolute top-5 justify-center">
  <div class="flex items-center backdrop-blur-sm max-w-6xl justify-between mx-auto">
    <div class="logo">
      <img src="logo3.png" alt="Logo" class="h-15 w-15 ml-5"/>
      <span>Employee Management</span>
    </div>
    <nav>
      <ul class="flex space-x-6 mr-10 text-lg font-extralight">
        <li>Home</li>
        <li>About</li>
      </ul>
    </nav>
    <div class="mr-5">
      <button class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded" >
        Sign In
      </button>
    </div>
  </div>
</div>
