<div class="mt-10 pt-15 text-white sticky w-full flex h-screen items-center">
  <div class="max-w-5xl mx-auto text-center gap-y-20 mt-5">
    <h1 class="text-4xl md:text-6xl font-extralight mb-4">Empower Your <span class="emphase">HR Management</span> With Real-Time Insights</h1>
    <p class="mt-8 mb-16 text-gray-400">Manage your employees efficiently and effectively with our comprehensive system.
    </p>

    <button class="cssbuttons-io-button" (click)="login()"> Get started
      <div class="icon">
        <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 0h24v24H0z" fill="none"></path>
          <path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
            fill="currentColor"></path>
        </svg>
      </div>
    </button>

    <div class="flex mx-auto justify-center mt-5">
      <div class="flex -space-x-2">
        <img
          class="inline-block w-11 h-11 rounded-full ring-2 ring-blue-500 bg-white/50 p-1 object-contain hover:scale-125 hover:z-10 transition-transform duration-200 ease-in-out"
          src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/apple.svg" alt="Apple Logo">

        <img
          class="inline-block w-11 h-11 rounded-full ring-2 ring-blue-500 bg-white/50 p-1 object-contain hover:scale-125 hover:z-10 transition-transform duration-200 ease-in-out"
          src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/netflix.svg" alt="Netflix Logo">

        <img
          class="inline-block w-11 h-11 rounded-full ring-2 ring-blue-500 bg-white/50 p-1 object-contain hover:scale-125 hover:z-10 transition-transform duration-200 ease-in-out"
          src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/spotify.svg" alt="Spotify Logo">

        <img
          class="inline-block w-11 h-11 rounded-full ring-2 ring-blue-500 bg-white/50 p-1 object-contain hover:scale-125 hover:z-10 transition-transform duration-200 ease-in-out"
          src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/twitter.svg" alt="Twitter Logo">

        <div class="relative inline-flex cursor-default">
          <span
            class="inline-flex items-center justify-center size-11 rounded-full bg-blue-300 border-2 border-blue-500 font-medium text-gray-900 shadow-2xs align-middle">
            90+
          </span>
        </div>
      </div>
      <div>
        <p class="text-gray-400 text-sm mt-3 mx-2">Join 90+ companies using our App</p>
      </div>

    </div>

</div>
