<div class="mt-10 text-white sticky w-full flex h-screen items-center">
  <div class="max-w-5xl mx-auto text-center gap-y-20">
    <h1 class="text-4xl md:text-6xl font-extralight mb-4">Empower Your HR Management With Real-Time Insights</h1>
    <p class="mt-6 mb-12 text-gray-400">Manage your employees efficiently and effectively with our comprehensive system.
    </p>

    <button class="cssbuttons-io-button"> Get started
      <div class="icon">
        <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 0h24v24H0z" fill="none"></path>
          <path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
            fill="currentColor"></path>
        </svg>
      </div>
    </button>

  </div>

</div>