@import "tailwindcss";

.card {
  @apply bg-white h-36 shadow-md rounded-lg p-6 max-w-xs mb-5;
}

.card p {
  @apply text-gray-700 font-semibold text-2xl;
}

.card span {
  @apply text-4xl text-end font-bold block mt-2 mr-3;
}
@property --num {
  syntax: '<integer>';
  initial-value: 0;
  inherits: false;
}
