@import "tailwindcss";

.card {
  @apply h-36 shadow-md rounded-lg p-6 max-w-xs mb-5 text-white;
}

.card p {
  @apply text-blue-100 font-semibold text-2xl;
}

.card span {
  @apply text-4xl text-end font-bold block mt-2 mr-3;
}
@property --num {
  syntax: '<integer>';
  initial-value: 0;
  inherits: false;
}
