@import "tailwindcss";

.card {
  @apply h-fit min-h-28 lg:h-42 relative text-4xl shadow-md rounded-lg p-6 w-full md:max-w-xs mb-5 text-white hover:scale-105 hover:text-5xl hover:text-amber-300 transition ease-in-out duration-300;
}

.card p {
  @apply text-blue-100 font-semibold text-2xl;
}

.card span {
  @apply text-end font-bold block mt-2 mr-3 absolute bottom-5 right-3;
}
@property --num {
  syntax: '<integer>';
  initial-value: 0;
  inherits: false;
}
